<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomationSuite" parallel="classes">

  <test thread-count="5" name="ChromeTest">
  <parameter name="browser" value="chrome"></parameter>
  
    <classes>
      <class name="testng.RadioButton1"/>
      <class name="testng.TNG_002"/>
      <class name="testng.CheckBox1"/>
      <class name="testng.LinksTesting1"/>
    </classes>
  </test> <!-- AutomationTest -->
  
  
   <test thread-count="5" name="FirefoxTest">
  <parameter name="browser" value="firefox"></parameter>
  
    <classes>
      <class name="testng.RadioButton1"/>
      <class name="testng.TNG_002"/>
      <class name="testng.CheckBox1"/>
      <class name="testng.LinksTesting1"/>
    </classes>
  </test> <!-- AutomationTest -->
</suite> <!-- AutomationSuite -->
